<header class="bg-blue-500 py-4">
  <div class="container mx-auto flex justify-between items-center">
      <!-- Brand Name -->
      <h1 class="text-white text-3xl font-bold">CrickInformer</h1>
      
      <!-- Menu -->
      <nav class="space-x-6">
        <!--Here to use router Link we will need to import router module in app component-->
          <a [routerLink]="'/home'" href="#" class="text-white hover:text-gray-300">Home</a>
          <a [routerLink]="'/live'" href="#" class="text-white hover:text-gray-300">Live Matches</a>
          <a [routerLink]="'/history'" href="#" class="text-white hover:text-gray-300">History</a>
          <a [routerLink]="'/point-table'" href="#" class="text-white hover:text-gray-300">Point Table</a>
      </nav>
      <div></div>
  </div>
  
</header>
<router-outlet></router-outlet>
<h2>Footer</h2>